name: CI/CD

on: [push, pull_request]

jobs:
  linux-native:
    name: Linux-x86 (Native)
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        compiler: [g++, clang++]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Download and install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y clang g++-multilib libgl-dev
      - name: Build
        run: |
          cd linux
          make CFG=release COMPILER=${{ matrix.compiler }}
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: Linux-x86-Native-${{ matrix.compiler }}
          path: |
            linux/release/client.so
            linux/release/client.so.dbg
            linux/release/hl.so
            linux/release/hl.so.dbg
  linux-steam-runtime:
    name: Linux-x86 (Steam Runtime)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        uses: docker://registry.gitlab.steamos.cloud/steamrt/scout/sdk/i386:latest
        with:
          args: ./linux/github_actions_steam_runtime_build.sh
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: Linux-x86-Steam-Runtime
          path: |
            linux/release/client.so
            linux/release/client.so.dbg
            linux/release/hl.so
            linux/release/hl.so.dbg
  win32:
    name: Win32
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2
      - name: Build
        run: MSBuild -maxCpuCount:$env:NUMBER_OF_PROCESSORS -property:Configuration=Release -target:Rebuild projects/vs2019/projects.sln
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: Win32
          path: |
            projects/vs2019/Release/hl_cdll/client.dll
            projects/vs2019/Release/hl_cdll/client.pdb
            projects/vs2019/Release/hldll/hl.dll
            projects/vs2019/Release/hldll/hl.pdb
