name: CI/CD

on: [push, pull_request]

jobs:
  linux_native:
    name: Linux i386 - Native
    runs-on: ubuntu-latest
    strategy:
      matrix:
        compiler: [clang++, g++]
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup
        run: |
          sudo dpkg --add-architecture i386 && sudo apt-get update
          if [[ "${{ matrix.compiler }}" == "clang++" ]]; then
            sudo apt-get install -y clang g++-multilib libgl-dev:i386
          elif [[ "${{ matrix.compiler }}" == "g++" ]]; then
            sudo apt-get install -y g++-multilib libgl-dev:i386
          fi

      - name: Build
        run: |
          cd linux
          make CFG=release COMPILER=${{ matrix.compiler }} -j2

      - name: Deploy
        uses: actions/upload-artifact@v4
        with:
          name: Linux-i386-native-${{ matrix.compiler }}
          path: |
            linux/release/client.so
            linux/release/client.so.dbg
            linux/release/hl.so
            linux/release/hl.so.dbg
  linux_steamrt_scout:
    name: Linux i386 - Steam Runtime v1 (scout)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Build
        run: docker run --rm -v ${{ github.workspace }}:/src -w /src registry.gitlab.steamos.cloud/steamrt/scout/sdk/i386:latest sh -c 'cd /src/linux && make CFG=release COMPILER=g++-9 -j2'

      - name: Deploy
        uses: actions/upload-artifact@v4
        with:
          name: Linux-i386-steamrt-scout
          path: |
            linux/release/client.so
            linux/release/client.so.dbg
            linux/release/hl.so
            linux/release/hl.so.dbg
  win32:
    name: Win32
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v2
        with:
          msbuild-architecture: x86

      - name: Build
        run: MSBuild -maxCpuCount:2 -property:Configuration=Release -target:Rebuild projects/vs2019/projects.sln

      - name: Deploy
        uses: actions/upload-artifact@v4
        with:
          name: Win32
          path: |
            projects/vs2019/Release/hl_cdll/client.dll
            projects/vs2019/Release/hl_cdll/client.pdb
            projects/vs2019/Release/hldll/hl.dll
            projects/vs2019/Release/hldll/hl.pdb
